body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: rgba(255, 238, 5, 0.557);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: none;
}

form button {
  position: absolute;
  right: 15px;
  bottom: -4px;
  background: #f51313;
  color: rgb(255, 234, 0);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(254, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.header {
  background-color: rgb(9, 107, 219);
  text-align: center;
}

.note {
  position: relative;
  color: white;
  width: 480px;
  margin: 30px auto 20px auto;
  background-color: rgba(243, 16, 16, 0.752);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.complete-Buttom {
  position: absolute;
  right: 15px;
  bottom: -4px;
  background: rgb(255, 234, 0);
  color: #f51313;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(254, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.delete-Buttom {
  position: absolute;
  left: 30px;
  bottom: -4px;
  background: rgb(255, 234, 0);
  color: #f51313;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(254, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
